@page "/userslist"
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;

<h3>CLK Personel Listesi</h3>

<div class="btn-group">
    <div class="container">
        <button class="btn btn-primary m-1" @onclick="goCreateUserPage"><span class="fas fa-user-plus"></span> Yeni Personel Oluştur</button>
    </div>
</div>
<br />
<Table @ref="table" Bordered=@true Size=@TableSize.Small
       TItem="UserDto"
       DataSource="@usersList"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange">
    <Selection Key="@(context.Id.ToString())" />
    <Column Ellipsis Title="Id"  @bind-Field="@context.Id"  Width="40px"  />
    <Column  Title="Oluşturulma Tarihi" @bind-Field="@context.CreateDate" Format="yyyy-MM-dd"  />
    <Column   TData="string" Title="Email" @bind-Field="@context.EMailAddress" Ellipsis />
    <ActionColumn Title="Durum" Width="70px">
        <Space>
            <SpaceItem>          
                <span class="badge badge-pill badge-@(context.IsActive?"success":"danger")">@(context.IsActive?"Aktif":"Pasif")</span>
            </SpaceItem>
        </Space>
    </ActionColumn>
    <ActionColumn Title="#">
        <Space Size="small">
            <SpaceItem>
                <button class="btn btn-danger btn-sm" @onclick="@(()=>DeleteUser(context.Id))"><span class="fas fa-trash"></span></button>
                <button class="btn btn-success btn-sm" @onclick="(() => goUpdatePage(context.Id))"><span class="fas fa-pen"></span></button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

@code {
    [Inject] public HttpClient HttpClient { get; set; }

    [Inject] public IUserService userService { get; set; }

    [Inject] NavigationManager navigationManager { get; set; }

    [Inject] ModalManager modalManager { get; set; }

    public List<UserDto> usersList = new List<UserDto>();

    IEnumerable<UserDto> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        await LoadList();

        _total = 2;
    }
    protected void goCreateUserPage()
    {
        navigationManager.NavigateTo("/users/add");
    }
    protected void goUpdatePage(int userId)
    {
        navigationManager.NavigateTo($"/users/edit/{userId}");
    }
    protected async Task LoadList()
    {
        usersList = (await userService.GetAllUsers()).ToList();

    }
    protected async Task DeleteUser(int Id)
    {
        bool confirmed = await modalManager.ConfirmationAsync("Uyarı!", "Bu kullanıcıyı silmek istediğinizden emin misiniz?");
        if (!confirmed) return;

        await userService.DeleteUserById(Id);
        await LoadList();
    }


    public async Task OnChange(QueryModel<UserDto> queryModel)
    {
        // forecasts = await GetForecastAsync(queryModel.PageIndex, queryModel.PageSize);
        _total = 2;
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }


    public void RemoveSelection(int id)
    {
        var selected = selectedRows.Where(x => x.Id != id);
        selectedRows = selected;
    }

    private void Delete(int id)
    {
        // forecasts = forecasts.Where(x => x.Id != id).ToArray();
        // _total = forecasts.Length;
    }
}
