@page "/productslist"
@using AntDesign.TableModels
@using System.Text.Json;

<h3>Teknik Servisde Kayıtlı Ürün Listesi</h3>

<div class="btn-group">
    <div class="container">
        <button class="btn btn-primary m-1" @onclick="goCreateUserPage"><span class="fas fa-user-plus"></span> Yeni Servis Kaydı Oluştur</button>
    </div>
</div>
<br />

<Table @ref="table" Bordered=@true Size=@TableSize.Small
       TItem="ProductDto"
       DataSource="@productsList"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange">
    <Selection Key="@(context.Id.ToString())" />
    <Column Ellipsis Title="Id" Field="@context.Id" Width="40px" />
    <Column Title="Eklenme Tarihi" Field="@context.CreateDate" Format="yyyy-MM-dd" />
    <Column  Title="Adı Soyadı" Field="@context.Customer?.FullName" />
    <Column  Title="Servis" Field="@context.Service?.Name" Ellipsis />
    <ActionColumn Title="Durum" Width="90px">
        <Space>
            <SpaceItem>
                <span class="badge badge-pill  badge-@(context.Statu=="Tamamlandı"?"success":(context.Statu=="İade"?"info":"primary"))">@(context.Statu=="Tamamlandı" ? "Tamamlandı":(context.Statu=="İade"?"İade":"Yapılıyor"))</span>
            </SpaceItem>
        </Space>
    </ActionColumn>
    <Column Title="Ücreti" Field="@context.Price" />

    <ActionColumn Title="#">
        <Space Size="small">
            <SpaceItem>
                <button class="btn btn-danger btn-sm" @onclick="@(()=>DeleteProduct(context.Id))"><span class="fas fa-trash"></span></button>
                <button class="btn btn-success btn-sm" @onclick="(() => goUpdatePage(context.Id))"><span class="fas fa-pen"></span></button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

@code {
    [Inject] public HttpClient HttpClient { get; set; }

    [Inject] public IProductService productService { get; set; }

    [Inject] NavigationManager navigationManager { get; set; }

    public List<ProductDto> productsList = new List<ProductDto>();

    [Inject] ModalManager modalManager { get; set; }

    IEnumerable<ProductDto> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;


    protected override async Task OnInitializedAsync()
    {
        await LoadList();
    }
    protected void goCreateUserPage()
    {
        navigationManager.NavigateTo("/products/add");
    }
    protected void goUpdatePage(int productId)
    {
        navigationManager.NavigateTo($"/products/edit/{productId}");
    }
    protected async Task LoadList()
    {
        productsList = (await productService.GetAllProduct()).ToList();

    }
    protected async Task DeleteProduct(int Id)
    {

        bool confirmed = await modalManager.ConfirmationAsync("Uyarı!", "Bu kaydı silmek istediğinizden emin misiniz?");
        if (!confirmed) return;

        await productService.DeleteProductById(Id);
        await LoadList();
    }

    public async Task OnChange(QueryModel<ProductDto> queryModel)
    {
        // forecasts = await GetForecastAsync(queryModel.PageIndex, queryModel.PageSize);
        _total = 2;
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }


    public void RemoveSelection(int id)
    {
        var selected = selectedRows.Where(x => x.Id != id);
        selectedRows = selected;
    }

    private void Delete(int id)
    {
        // forecasts = forecasts.Where(x => x.Id != id).ToArray();
        // _total = forecasts.Length;
    }
}
